[submodule "dot.vim/bundle/vim-javascript"]
	path = dot.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "dot.vim/bundle/vim-autocomplpop"]
	path = dot.vim/bundle/vim-autocomplpop
	url = https://github.com/vim-scripts/AutoComplPop
[submodule "dot.vim/bundle/vim-rails"]
	path = dot.vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "dot.vim/bundle/vim-ruby"]
	path = dot.vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "dot.vim/bundle/vim-pathogen"]
	path = dot.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
